<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
    />
    <title>Document</title>
</head>
<body>
    <div class="container-fluid bg-dark min-vh-100">
        <div class="container p-5">
            <div class="container bg-white rounded w-50">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{type}} Cash Account</h5>
                        <form action="post" method="post">
                            <div class="form-outline">
                                <p>Current Balance: {{ account.balance }}</p>
                                <label class="form-label mt-2" for="Number">+Balance</label>
                                <input
                                    type="text"
                                    name="balance"
                                    class="form-control"
                                />

                                <button class="btn btn-success mt-3 btn-lg px-5" type="submit">Top Up</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>